.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Pour superposer au-dessus du slider */ 
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    
      
}

